<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<meta http-equiv="X-UA-Compatible" content="ie=edge" />

<meta property="og:title" content="1yo.ga/urls" />
<meta property="og:type" content="website" />
<meta property="og:url" content="https://1yo.ga" />
<meta property="og:image" content="https://1yo.ga/urls/resources/assets/og-image.png" />
<meta property="og:description" content="An easy-to-use URL shortener that's completely free and open source!" />
